<a href="https://colab.research.google.com/github/18wh1a1240/WISE-ML/blob/main/IntroductiontoPandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objectives

At the end of the experiment you will able to

* perform data cleaning, manipulation and pre-processing using Pandas

## Dataset

In this Experiment you will be using movies dataset. The dataset contains 77 rows and 8 columns. The columns are as follows:

* Film
* Genre
     - Romance, Comedy, Drama, Animation, Fantasy, Action
* Lead Studio
* Audience score in percentage
* Profitability
* Rotten Tomatoes in percentage
* Worldwide Gross
* Year

## Features of Pandas

* Fast and efficient DataFrame object with default and customized indexing.
* Tools for loading data into in-memory data objects from different file formats.
* Data alignment and integrated handling of missing data.
* Reshaping and pivoting of date sets.
* Label-based slicing, indexing and subsetting of large data sets.
* Columns from a data structure can be deleted or inserted.
* Group by data for aggregation and transformations.
* High performance merging and joining of data.
* Time Series functionality.

Now it is time to work on practicals. Following Are the given Exercise:

## Run the below code cell to download the movies data

In [2]:
!wget https://cdn.talentsprint.com/aiml/movies.csv

--2021-05-16 16:42:29--  https://cdn.talentsprint.com/aiml/movies.csv
Resolving cdn.talentsprint.com (cdn.talentsprint.com)... 172.105.34.236
Connecting to cdn.talentsprint.com (cdn.talentsprint.com)|172.105.34.236|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5074 (5.0K) [application/octet-stream]
Saving to: ‘movies.csv’

movies.csv          100%[===================>]   4.96K  --.-KB/s    in 0s

2021-05-16 16:42:30 (525 MB/s) - ‘movies.csv’ saved [5074/5074]

In [3]:
import pandas as pd

In [4]:
moviesdata = pd.read_csv("movies.csv")

In [5]:
moviesdata.head()

                                 Film    Genre  ... Worldwide Gross  Year
0          Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                     Youth in Revolt   Comedy  ...         $19.62   2010
2  You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                        When in Rome   Comedy  ...         $43.04   2010
4               What Happens in Vegas   Comedy  ...        $219.37   2008

[5 rows x 8 columns]

### Exercises 1: How many movies are listed in the moviesdata dataframe?

In [6]:
# Your Code Here
print(moviesdata.shape[0])

77

### Exercises 2: How many movies were made in the year 2009?

In [7]:
# Your Code Here
grp = moviesdata.groupby('Year')
print(grp.get_group(2009))

                           Film   Genre  ... Worldwide Gross  Year
13               The Ugly Truth  Comedy  ...        $205.30   2009
14  The Twilight Saga: New Moon   Drama  ...        $709.82   2009
15     The Time Traveler's Wife   Drama  ...        $101.33   2009
16                 The Proposal  Comedy  ...        $314.70   2009
17       The Invention of Lying  Comedy  ...         $32.40   2009
35            Not Easily Broken   Drama  ...         $10.70   2009
48                 Love Happens   Drama  ...         $36.08   2009
58             It's Complicated  Comedy  ...        $224.60   2009
61  He's Just Not That Into You  Comedy  ...        $178.84   2009
66   Ghosts of Girlfriends Past  Comedy  ...        $102.22   2009
73                A Serious Man   Drama  ...         $30.68   2009
76         (500) Days of Summer  comedy  ...         $60.72   2009

[12 rows x 8 columns]

### Exercises 3: Which year saw the most films released?

In [8]:
moviesdata.mode()['Year'][0]

2008.0

### Exercises 4: How many movies were made from 2010 through 2011?

In [9]:
ans  = moviesdata[moviesdata['Year'].between(2010,2011,inclusive=True)]
print(ans)

                                  Film      Genre  ... Worldwide Gross  Year
1                      Youth in Revolt     Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger     Comedy  ...         $26.66   2010
3                         When in Rome     Comedy  ...         $43.04   2010
5                  Water For Elephants      Drama  ...        $117.09   2011
8                  Waiting For Forever    Romance  ...          $0.03   2011
9                      Valentine's Day     Comedy  ...        $217.57   2010
11             Twilight: Breaking Dawn    Romance  ...        $702.17   2011
21                    The Back-up Plan     Comedy  ...         $77.09   2010
22                             Tangled  Animation  ...        $355.01   2010
23                  Something Borrowed    Romance  ...         $60.18   2011
24              She's Out of My League     Comedy  ...         $48.81   2010
25                Sex and the City Two     Comedy  ...        $288.35   2010
26                  Sex and the City 2     Comedy  ...        $288.35   2010
28                         Remember Me      Drama  ...         $55.86   2010
33                  Our Family Wedding     Comedy  ...         $21.37   2010
34                             One Day    Romance  ...         $55.24   2011
38                      New Year's Eve    Romance  ...        $142.04   2011
39                My Week with Marilyn      Drama  ...          $8.26   2011
41                         Monte Carlo    Romance  ...         $39.66   2011
43                   Midnight in Paris    Romence  ...        $148.66   2011
49                  Love & Other Drugs     Comedy  ...         $54.53   2010
50                  Life as We Know It     Comedy  ...         $96.16   2010
52                   Letters to Juliet     Comedy  ...         $79.18   2010
53                           Leap Year     Comedy  ...         $32.59   2010
55                             Killers     Action  ...         $93.40   2010
56                         Just Wright     Comedy  ...         $21.57   2010
57                           Jane Eyre    Romance  ...         $30.15   2011
59           I Love You Phillip Morris     Comedy  ...         $20.10   2010
63                  Going the Distance     Comedy  ...         $42.05   2010
64                   Gnomeo and Juliet  Animation  ...        $193.97   2011
65                   Gnomeo and Juliet  Animation  ...        $193.97   2011
70                           Dear John      Drama  ...        $114.97   2010
71                           Beginners     Comedy  ...         $14.31   2011
74                  A Dangerous Method      Drama  ...          $8.97   2011

[34 rows x 8 columns]

### Exercises 5: In Genre column, sometimes Comedy is spelled as Comdy, comedy and Romance is spelled as romance, Romence. Replace all the misspelt words with correct words

In [10]:
moviesdata['Genre'].replace({"Comdy":"Comedy","comedy":"Comedy","romance":"Romance","Romence":"Romance"}, inplace=True)
moviesdata

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  Romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   Comedy  ...         $60.72   2009

[77 rows x 8 columns]

### Exercises 6: How many Comedy Genre movies has release in 2009?

In [11]:
res  = moviesdata[(moviesdata['Genre'] == 'Comedy')]
res = res[(res['Year']==2009)]
res

                           Film   Genre  ... Worldwide Gross  Year
13               The Ugly Truth  Comedy  ...        $205.30   2009
16                 The Proposal  Comedy  ...        $314.70   2009
17       The Invention of Lying  Comedy  ...         $32.40   2009
58             It's Complicated  Comedy  ...        $224.60   2009
61  He's Just Not That Into You  Comedy  ...        $178.84   2009
66   Ghosts of Girlfriends Past  Comedy  ...        $102.22   2009
76         (500) Days of Summer  Comedy  ...         $60.72   2009

[7 rows x 8 columns]

### Exercises 7: Which year as the most number of Romance Genre Movies releases?

In [12]:
Romance_genre = moviesdata[(moviesdata['Genre'] == 'Romance')]
val = Romance_genre['Year'].mode()
val[0]

2011

### Exercises 8: How many films are made by Sony Lead Studio?

In [13]:
ans = moviesdata['Lead Studio'] == 'Sony Lead Studio'
ans

0     False
1     False
2     False
3     False
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Name: Lead Studio, Length: 77, dtype: bool

### Exercises 9: How many films are having Audience score less than 50 %?

In [14]:
d = moviesdata['Audience score %'] < 50
print(d)

0     False
1     False
2      True
3      True
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Name: Audience score %, Length: 77, dtype: bool

### Exercises 10: Display all the movies done by Universal Lead Studio?

In [15]:
result = moviesdata[moviesdata['Lead Studio'] == 'Universal']
print(result)
print(result.info())

                Film    Genre  ... Worldwide Gross  Year
45        Mamma Mia!   Comedy  ...        $609.47   2008
46        Mamma Mia!   Comedy  ...        $609.47   2008
48      Love Happens    Drama  ...         $36.08   2009
53         Leap Year   Comedy  ...         $32.59   2010
54        Knocked Up   Comedy  ...           $219   2007
57         Jane Eyre  Romance  ...         $30.15   2011
58  It's Complicated   Comedy  ...        $224.60   2009
73     A Serious Man    Drama  ...         $30.68   2009

[8 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 45 to 73
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               8 non-null      object
 1   Genre              8 non-null      object
 2   Lead Studio        8 non-null      object
 3   Audience score %   8 non-null      int64
 4   Profitability      8 non-null      float64
 5   Rotten Tomatoes %  8 non-null      int64
 6   Worldwide Gross    8 non-null      object
 7   Year               8 non-null      int64
dtypes: float64(1), int64(3), object(4)
memory usage: 576.0+ bytes
None